"*":
  "atom-beautify":
    css:
      align_assignments: true
      convert_quotes: "single"
      preserve_newlines: true
    general:
      _analyticsUserId: "f68a47bc-f76d-45eb-ad01-ffbbf5c48bbc"
    js:
      end_with_newline: true
      jslint_happy: true
      keep_array_indentation: true
      space_after_anon_function: true
    ruby:
      default_beautifier: "Ruby Beautify"
      indent_size: 2
      rubocop_path: "/Users/tbjers/.rbenv/shims/rubocop"
  "autocomplete-elixir":
    elixirPath: ""
    erlangHome: "/usr/bin"
  core:
    audioBeep: false
    autoHideMenuBar: true
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "whitespace"
      "nuclide-format-js"
      "nuclide"
      "linter-phpmd"
      "linter-php"
    ]
    projectHome: "/home/torgny/git"
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    useCustomTitleBar: true
    warnOnLargeFileLimit: 3
  editor:
    fontFamily: "Input Mono"
    fontSize: 13
    invisibles: {}
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?-…_"
    preferredLineLength: 120
    scrollPastEnd: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "ff6c8b93-716f-3e18-5d85-9e3b39142a20"
  "git-plus": {}
  hidpi: {}
  linter: {}
  "linter-eslint":
    lintHtmlFiles: true
  "linter-js-standard":
    checkStyleDevDependencies: true
    honorStyleSettings: true
    style: "semi-standard"
  "linter-phpcs":
    executablePath: "/Users/tbjers/.composer/vendor/bin/phpcs"
  "linter-puppet":
    puppetExecutablePath: "/usr/bin/puppet"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  "linter-shellcheck":
    enableNotice: true
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "linter-ui-default":
    showPanel: true
  minimap:
    absoluteMode: true
    plugins:
      pigments: true
      pigmentsDecorationsZIndex: 0
  nuclide:
    "nuclide-debugger-node": {}
    "nuclide-health":
      toolbarJewel: "CPU"
    "nuclide-source-control-side-bar": {}
  "one-dark-ui": {}
  "one-light-ui": {}
  pigments:
    supportedFiletypes: [
      "*.css"
      "*.sass"
      "*.styl"
      "*.scss"
      "*.stylus"
      "*.less"
    ]
  "tool-bar":
    iconSize: "16px"
    position: "Left"
  "tree-view":
    hideIgnoredNames: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".alloyxml.text":
  editor:
    preferredLineLength: 120
".css.source.tss":
  editor:
    preferredLineLength: 120
".git-commit.text":
  editor:
    preferredLineLength: 78
".git-config.source":
  editor:
    preferredLineLength: 78
".git-rebase.text":
  editor:
    preferredLineLength: 78
".md.text":
  editor:
    preferredLineLength: 120
"text.md":
  editor:
    softWrap: true
